*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    
}
.content{
    background-color: #212121;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    align-items: center;
    display: flex;
    border-bottom: 2px solid #FFC107;
    color: #FFC107;
}
.headerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    gap: 480px;
    justify-content: space-around;
}
.logo{
    width: 80px;
    height: 80px;
}
.title{
    font-size: 25px;
    font-family: math;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
}
.leftSpace{
    width: 70%;
    background-color: #e1dad2;
    border-radius: 5px;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemImg{
    width: 400px;
    height: 400px;
    border-radius: 10px  10px 0 0;
    object-fit: cover;

}
.itemName{
    font-size: 30px;
    font-weight: bold;
    font-family: math;
    color: black;
}
.itemPrice{
    background-color: #FFC107;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
    font-weight: bold;
}
.rightSpace{
    width: 30%;
    background-color: #636563;
    border-radius: 5px;
}
.offers{
    background-color: #FFC107;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}
.productsOffers{
    font-family: cursive;
    font-size: 15px;
}
.product{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #FFC107;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.product:hover{
    cursor: pointer;
    border: 2px solid #FFC107;

}
.imgProduct{
    width: 70px;
    height: 70px;
    object-fit: contain
}
.name{
    color: white;
    font-weight: bold;
}
.price{
    color: #f57171;
}
.priceWithDiscount{
    color: #FFC107;
    font-weight: bold;
}
.footer{
    border-top: 1px solid #FFC107;
    background-color: black;
    padding: 20px 100px;
    color: white;
    font-family: cursive;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
.info{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.networks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.networks img{
    width: 30px;
    height: 30px;
    
}
.networks img:hover{
    cursor: pointer;
}
.link{
    text-decoration: none;
}